<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<style type="text/css">
	
#header {

	background-color: #00FF99;
	height: 10vh;
	width: 100vw;

}

#middle {

	height: 80vh;
	width: 100vw;
	background-image: url("background.png");
	background-size: 100vw 80vh;
	background-repeat: no-repeat;
	background-color: #cccccc;
	color: white;

}


</style>

<body>

<div id="header">
	

</div>

<div id="middle">
	
<form action="/signup" method="post">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br>
  Confirm Password:<br>
  <input type="password" name="confirm">
  <br>
  <input type="submit" value="Submit">
</form> 

</div>



</body>
</html>